:host {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 10rem;
    margin: 10rem;
    border: 2px solid red;
    background-color: salmon;
    color: white;

    &:hover {
        cursor: pointer;
    }
}